@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
body {
    height: 100vh;
    width: 100%;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(135deg, #4b367c 0%, #2b133d 100%);
}
 
/* Div envoltória styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(50px);
    padding: 0 40px;
}
/*texto da logo styles*/
.text-logo {
    background: linear-gradient(to right, #a18cd1, #fbc2eb);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
/*logo styles*/
.logo {
    display: flex;
    font-size: 20px;
    color: #000;
    position: relative;
    margin-left: 35px;
    cursor: pointer;
}

/*hover da logo*/
.logo:hover {
    color: #222;
}
/*style do ícone da logo*/
.logo i {
    font-size: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -38px;
    color: white;
}
/*style do menu de navegação*/
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
/*style do menu de navegação*/
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
/*style do menu de navegação*/
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}
/*style da lista do menu de navegação*/
.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}
/*style dos links do menu de navegação*/
.nav-menu ul a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    position: relative;
}
/*before do link do menu de navegação(o efeito de underline)*/
.nav-menu ul a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: #fff;
    bottom: -5px;
    left: 0;
    transition: width 0.5s ease;
}
/*complemento do before do link do menu de navegação*/
.nav-menu ul a:hover::before {
    width: 100%;
}
/*hover do link do menu de navegação*/
.nav-menu ul a:hover {
    color: #adadad;
}
/*active do link do menu de navegação*/
.nav-menu ul a:hover::before:active {
    color: #222;
}
/*style do botão de login*/
.login-link {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    margin-right: 10px;
}
/*config da animação slideDown*/

/*style do botão de signup*/
.signup-btn {
    padding: 10px 45px;
    color: #fff;
    background: linear-gradient(to right, #a18cd1, #fbc2eb);
    border: none;
    border-radius: 20px;
    outline: none;
}
/*hover e active do botão de signup*/
.signup-btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s ease;
}
.signup-btn:active {
    transform: scale(0.95);
}
/*configuração da animação fadein*/
