* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    width: 100dvw;  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

nav {
    gap: 2rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

#botaogay {
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 20px;
    background-color: blueviolet;
}